venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# backup related
backup/
data.sqlite
migrations/
data_test.sqlite

.vscode/

# mac related files
.DS_Store

#oidc json with secrets
*oidc.json
#pycharm related files
.idea
